.user-info-container {
  height: 10%;
  border-bottom: 1px solid;
  width: 100%;
  display: flex;
  gap: 10%;
  padding: 2%;
  align-items: center;
}

.user-profile-pic {
  height: 40px;
  min-width: 40px;
  border: 1px solid;
  border-radius: 50%;
}

.user-name{
  font-size: 18px;
  font-weight: bold;
}
